header{ margin: auto;
min-width: 360px;
}
    

header img { margin-top: 10px;
    
}


header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    margin:auto;
    


    
    
} 
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-right: 120px;
    min-width: 360px;
    
    
}
header nav ul li{
   font-size: 20px;



}
.projetos,
.contato{
    text-decoration:none;
    color: black;
}


main{
    min-width: 100px;
    margin: auto;
}
hr { border-top:solid 1px rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right: 400px;
}
main
{
margin: auto;
min-width: 360px;
max-width: 1000px;
}
.titulo{
padding-left:272px;
padding-top: 300px;
margin-bottom: 0px;

font-family: "Baskervville", serif;
font-weight: 400;
font-size: xxx-large;
}

.text{
    margin-top: 0px;
    padding-left: 272px;
    font-family: "Space Mono", monospace;
    font-weight: 200;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
  
}
#HTML{ color:rgb(42, 137, 200);
    font-weight: 600;


}
#CSS{
    color: rgb( 242,93,39);
    font-weight: 600;
}
.linkedin {
    color: #0a0000;
    opacity: 65%;  }